.heading{
    padding-top: 30px;
    text-align: center;
}
.userProfile{
    object-fit: cover;
    width: 35vw ;
    height: 35vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    padding: 5px;
}
.circleWrapper{
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #ff7b00;
}
.profilePicArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileButtons {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.grey{
    color: rgba(14, 14, 14, 0.753);
}

 .larger{
    font-size: 1.4rem;
 }
 .table {
    font-size: 1.3rem;
    margin: auto;
    width: 40vw !important; 
 }
.bold{
    font-weight: boldER;
}
.lessbold{
    font-weight:500;
}
.margin{
    margin: 30px;
}
.address{
    align-items: center;
    justify-content: center;
}
.this{

    background-color: #ff7b00;
}
.td-center{
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 40vw;
}